#contact{
    margin-bottom:10%;
}
.contact__container{
    /* width:58%; */
    display:grid;
    grid-template-columns:30% 58%;
    gap:12%;
}

.contact__options{
    display:flex;
    flex-direction:column;
    gap:1.2rem;
}
.contact__option{
    text-align:center;
    background:rgba(255,255,255,0.1);
    padding:1.2rem;
    border-radius: 1rem;
    transition:var(--transtition);
}
.contact__option:hover{
    background:rgba(255,255,255,0.1);
}

.contact__option-icon{
    font-size:1.5rem;
    /* /* display:inline-block; */
}

.contact__option a{
    font-size:1.2rem;
    display: inline-block;
    margin-top:0.7rem;
}

form{
    display:flex;
    flex-direction:column;
    gap:1.7rem;
}

input,
textarea{

    padding: 1.5em;
    border-radius: 0.5rem;
    font-size:1rem;
    background:transparent;
    border: 2px solid var(--color-primary-variant);
    resize:none;
    color:var(--color-white);
}

/*======================================= mid devices ===========================================*/

@media only screen and (max-width:1024px) {
    .contact__container{
        grid-template-columns: 1fr;
        gap:1rem;
    }
}

