footer{
	background: var(--color-primary);
	padding: 3rem 0;
	text-align: center;
	font-size: 0.9rem;
	margin-top: 7rem;
	text-align: center;
}

.permaLinks{
	display: flex;
	gap: 1rem;
	justify-content: center;
	margin-bottom: 3rem;
}

.permaLinks a{
	color: var(--color-bg);
	cursor: pointer;
	padding: 1rem;
}

.social{
	display: flex;
	justify-content: center;
	gap: 1rem;
	margin-bottom: 3rem;
}

.social a{
	background: var(--color-bg);
	padding: 0.8rem;
	border-radius: 0.5rem;
	cursor: pointer;
	display: flex;
	color: white;
}


/************************************small devices******************************************************/

@media only screen and (max-width: 600px){
	.permaLinks{
		flex-direction: column;
	}
}
